USE [dbb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/06/2025 15:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 26/06/2025 15:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packege]    Script Date: 26/06/2025 15:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packege](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Minute] [int] NOT NULL,
	[Print] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Packege] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26/06/2025 15:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IpAddress] [nvarchar](max) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[NumBranch] [int] NOT NULL,
	[NumComputer] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 26/06/2025 15:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Minute] [int] NOT NULL,
	[Print] [int] NOT NULL,
	[UsersID] [int] NOT NULL,
	[PackagesID] [int] NOT NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchasesImpl]    Script Date: 26/06/2025 15:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchasesImpl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[UseMinute] [int] NOT NULL,
	[UsePrint] [int] NOT NULL,
	[PurchaseId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_PurchasesImpl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/06/2025 15:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Tz] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250610102845_a', N'6.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250610103342_dd', N'6.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250610103856_c', N'6.0.13')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Bnei-brak')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Ashdod')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Beit-Shemsh')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Packege] ON 

INSERT [dbo].[Packege] ([Id], [Title], [Description], [Minute], [Print], [Price], [Image]) VALUES (1, N'. Architecture ', N'The perfect package for architects and interior designers. Get access to advanced 3D modeling and planning software, a comfortable workspace, and high-quality monitors—everything you need to turn ideas into precise plans and impressive projects.', 300, 50, 150, N'T:\תכנות ו תשפה\קבוצה ו2\riki kirshtein\Final Project\ServerSide\ComputerRoom\Images\Architect.jpg')
INSERT [dbo].[Packege] ([Id], [Title], [Description], [Minute], [Print], [Price], [Image]) VALUES (2, N'Graphic Design ', N'A dedicated package for graphic designers, illustrators, and digital artists. Workstations equipped with leading graphic software, color-accurate monitors, and all the tools required to create top-level designs, illustrations, and photo edits.', 300, 50, 150, N'T:\תכנות ו תשפה\קבוצה ו2\riki kirshtein\Final Project\ServerSide\ComputerRoom\Images\creative.jpg')
SET IDENTITY_INSERT [dbo].[Packege] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [IpAddress], [Model], [NumBranch], [NumComputer], [CategoryId]) VALUES (2, N'192.168.10.2', N'Intel i3 processor, 8GB RAM, 256GB SSD, Windows 11.', 1, 1, 1)
INSERT [dbo].[Product] ([Id], [IpAddress], [Model], [NumBranch], [NumComputer], [CategoryId]) VALUES (3, N'192.168.10.3', N'Intel i5 processor, 16GB RAM, 512GB SSD, 14-inch display.', 1, 2, 1)
INSERT [dbo].[Product] ([Id], [IpAddress], [Model], [NumBranch], [NumComputer], [CategoryId]) VALUES (4, N'192.168.10.4', N'AMD Ryzen 7 processor, RTX 4060 graphics card, 32GB RAM, 1TB SSD.

', 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchase] ON 

INSERT [dbo].[Purchase] ([Id], [Date], [Minute], [Print], [UsersID], [PackagesID]) VALUES (1, CAST(N'2025-06-26T11:42:52.6880000' AS DateTime2), 0, 0, 1, 3)
INSERT [dbo].[Purchase] ([Id], [Date], [Minute], [Print], [UsersID], [PackagesID]) VALUES (2, CAST(N'2025-06-26T11:52:53.8140000' AS DateTime2), 600, 100, 1, 3)
SET IDENTITY_INSERT [dbo].[Purchase] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Tz], [Email], [Password], [Phone]) VALUES (1, N'Israel Israeli', N'325896665', N'Israel.israeli@example.com', N'123456', N'0528963542')
INSERT [dbo].[Users] ([Id], [Name], [Tz], [Email], [Password], [Phone]) VALUES (2, N'David Jones', N'458965558', N'david.jones@demo.co', N'654321', N'0527959485')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category_CategoryId]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Packege_PackagesID] FOREIGN KEY([PackagesID])
REFERENCES [dbo].[Packege] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Packege_PackagesID]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Users_UsersID] FOREIGN KEY([UsersID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Users_UsersID]
GO
ALTER TABLE [dbo].[PurchasesImpl]  WITH CHECK ADD  CONSTRAINT [FK_PurchasesImpl_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchasesImpl] CHECK CONSTRAINT [FK_PurchasesImpl_Product_ProductId]
GO
ALTER TABLE [dbo].[PurchasesImpl]  WITH CHECK ADD  CONSTRAINT [FK_PurchasesImpl_Purchase_PurchaseId] FOREIGN KEY([PurchaseId])
REFERENCES [dbo].[Purchase] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchasesImpl] CHECK CONSTRAINT [FK_PurchasesImpl_Purchase_PurchaseId]
GO
